-# TODO: Make fields longer.
%h2 Admin Sign in
%p Authorized Personnel Only

.login_form
	- form_tag sessions_path do
		%p
			= label_tag :login, "Email Address"
			%br
			= text_field_tag :login, params[:login]
		%p
			= label_tag :password
			%br
			= password_field_tag :password
		%p
			= check_box_tag :remember_me, 1, params[:remember_me]
			= label_tag :remember_me, "Remember Me"

		%p
			= submit_tag "Log in"
		%p.forgot_password_link
			= link_to "Forgot Password?", new_password_reset_path