= render :partial => 'shared/error_messages', :locals => { :object => @video }
= form_for @video do |f|
	%p
		%p.user_attention_note
			= "Changing the title will also change the url." unless @video.new_record?
		= f.label :title
		%br 
		= f.text_field :title
	%p
		= render :partial => 'shared/markdown_info'
		= f.label :description
		%br
		= f.text_area :description
	%p
		-if @video.new_record?
			= f.label "Paste in Code"
			%br
			= f.text_area :source_url
		- else
			= f.label "Video Url"
			%br
			= f.text_field :source_url
	%p
		= f.submit ((@video.new_record? ? "Create" : "Update") + " Video")
		
