-# Partial that can be used as long as the object passed in responds to the title method or to_s.
- class_name = object.class.to_s.underscore
- object_edit_path = "edit_#{class_name}_path(#{object.id})"
= link_to("Edit", instance_eval(object_edit_path)) + " | "
- if object.respond_to?(:title)
	- name = object.title
- else
	- name = object.to_s
= link_to("Delete", object, :method => :delete, :confirm => "Are you sure?", :title => "Delete #{name}")

