%header
	/ Logo.
	= link_to logo, root_path
	/ Navigation links.
	%nav
		%ul
			%li= link_to "Home", root_path
			%li= link_to "Media", "#"
			%li= link_to "About", about_path
			%li= link_to "Contact", contact_path
	/ Social Media Buttons.
	.social_media_buttons= render :partial => "shared/social_media_buttons"